*:after,
*:before,
p a,
a,
.cX-socialicons li a,
.cX-roundicontext,
.cX-roundicontext .cX-usericonholder,
.sub-menu,
.mega-menu,
.cX-themedropdownmenu li a,
.cX-themedropdownmenu,
.cX-themedropdownmenu li.menu-item-has-children ul,
.sub-menu li,
.cX-categories .item,
.cX-categories .item h3,
.cX-prev,
.cX-next,
.cX-ad,
.cX-btnphone,
.cX-like,
.cX-post figure img,
.cX-post figure a img,
.cX-categoryholder,
.cX-category h4,
.cX-feature,
.cX-team figure figcaption,
.cX-applyedfilters ul li.alert-dismissable a.close,
.cX-collapsetitle a span:before,
.cX-btn,
.cX-user,
.cX-socialandappicons,
.cX-logo,
.cX-btnmenutoggle,
.cls-1,
.cX-wrapper,
.cX-sidebarwrapper,
.cX-dropdownmenu,
.cX-dropdownmenu li,
.cX-dashboardbox,
.ct-bar,
.cX-offerer,
.cX-navtabledata ul li a,
.cX-dashboardtable tr,
.cX-package,
.cX-profilephotogallery ul li figure i,
.cX-btndelete {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}


